__pycache__
*.csv
*.pkl
!airflow_ml_dags/data/models/selected/model.pkl
*.json
.hydra
*.txt
!requirements.txt
!online_inference/model_object/model.pkl
!online_inference/requirements.txt
!online_inference/sample_data/features.csv
